<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
<!--    <a class="navbar-brand" href="/">EJS Is Fun</a>-->
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/entidades">Entidades Financieras</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cuentahabientes">Cuentahabientes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cuentahabiente/nuevo">Nuevo cuentahabiente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/cuentahabiente/operacion">Realizar operación</a>
        </li>
    </ul>
</nav>